@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html, #root {
  background: url('/assets/images/background/main background.png') no-repeat center fixed;
  background-size: cover;
  /* background-color: black; */
}

body {
  background-size: contain; /* Ensures the entire image fits within the viewport */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card, p, a, li, h1, h2, h3, h4, h5, h6, ul, li, div.card-body,
label {
  font-weight: 1000;
  font-family: 'Cinzel';
  color: gold !important;
}
/* .div.card-body {
  background-image: url("/assets/images/background/element background/item container background 1.png");
} */

.gold {
  color: gold;
}

.welcome {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3) !important;
}

button.btn {
  color: black;
  font-family: "Cinzel";
}

form {
  background-image: url("/assets/images/background/button background/button background.png");
  color: gold;
  font-family: "Cinzel";
}

.granite-background {
  background-image: url("/assets/images/background/button background/button background.png");
}
.wood-background {
  background-image: url("/assets/images/background/element background/item container background 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

fieldset {
  border: 8px ridge grey !important;
}

.card {
  --bs-card-bg: none !important;
}

div.card {
  /* border: 4px ridge rgb(134, 75, 26); */
  border-radius: 0px;
}

label.form-check-label,
label.form-label,
legend {
  color: gold;
}

.card.enemy-card {
  color: red;
  font-weight: bolder !important;
  border: 2px solid white;
  background-image: url("/assets/images/background/element background/item container background 1.png");
  background-size: cover;
}
.enemy-list-background {
  background-image: url("/assets/images/background/element background/button background.png");
}
/* .card.enemy-card::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px; 
  border-image-source: url('/public/assets/images/border/enemy border.png');
  border-image-slice: 50%; 
  border-image-width: 50%;
  border-image-outset: 20px; 
  border-image-repeat: stretch; 
  border-style: solid;
  pointer-events: none;
  z-index: 100;
} */

span {
  color: white;
}

button.btn {
  color: rgb(255, 255, 255) !important;
  background-image: url("/assets/images/background/button background/button background.png") !important
}

button.btn-danger {
  background-color: rgb(red, green, blue, 0);
}

img {
  border: 6px ridge grey;
}

#damage-log {
  border: 4px ridge grey;
  background-color: rgb(38, 38, 38);
}