@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html, #root {
  background: url('public/assets/images/background/main background.png') no-repeat center fixed; /* Centered, no repeat, fixed position */
  background-size: cover;
  background-color: black;
}

body {
  background-size: contain; /* Ensures the entire image fits within the viewport */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card,
label {
  font-weight: 1000;
  font-family: 'Cinzel';
}

.gold {
  color: gold;
}

.welcome {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3) !important;
}