.navbar {
    display: flex;
    flex-direction: row;
    border: 4px ridge rgb(232, 182, 31);
    background: rgb(0, 0, 0);
    margin-bottom: 4rem;
    background-image: url('/assets/images/navbar/navbar.png');
    background-size: cover;
}
.navbar a {
    text-decoration: none;
    color: gold;
}

.nav-link {
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out !important;
    color: gold !important;
}

.nav-link:hover {
    color: rgb(166, 141, 0) !important;
}

.nav-link.active {
    color: rgb(166, 141, 0) !important;
    font-weight: bold; /* Optional: Add a bold effect */
    border-bottom: 2px solid #ffcc00; /* Optional: Add a highlight */
  }
.navbar-collapse {
    justify-content: center;
}
